# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

### JetBrains IDE ###
#####################
.idea/

### Emacs Temporary Files ###
#############################
*~

### Folders ###
###############
bin/
vendor/
node_modules/
data/

### Files ###
#############
*.ivf
*.ogg
tags
cover.out
*.sw[poe]
*.wasm
examples/sfu-ws/cert.pem
examples/sfu-ws/key.pem
wasm_exec.js
bwe-test
vnet/vnet

# Sample videos and generated media files
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.flv
*.wmv
